<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SyntheCider</name>
    <description>
        A text to synthecizer app.
    </description>
    <author email="s.kerslake3@gmail.com">
        Scott Kerslake
    </author>
    <content src="index.html" />
    <platform name="android">
    	<icon src="www/res/icon/cider.png" />
    </platform>
    <access origin="*" />
</widget>
